[submodule "pjproject"]
	path = pjproject
	url = https://github.com/pjsip/pjproject.git
[submodule "external/openh264"]
	path = external/openh264
	url = https://github.com/cisco/openh264.git
[submodule "external/openssl_ios"]
	path = external/openssl_ios
	url = https://github.com/x2on/OpenSSL-for-iPhone
